*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color:#003476;
    --secundary-color: rgb(23, 93, 93);
    --font-titutlos:8rem;
}

html {
    font-size: 62.5%;
}

header {
    width: 100vw;
    height: 15vh;
    background-color:var(--primary-color)

}

main {
    width: 100vw;
    height: 70vh;
    font-size: 1.8rem;

}

h1 {
    font-size: var(--font-titutlos);

}

footer {
    width: 100vw;
    height: 15vh;
    background-color:var(--secundary-color)

}


.picture {
    width: 500px;
    height: auto;

}
/*APUNTES 

justify-contet: space-between ( divide entre los elementos el espacio restante) 
justify-content: space-evenly;( divide entre los elementos el espacio restante,es más exacto) 

flex-wrap: wrap ( hace que los elementos hijos se acomoden hacia abajo según el tamaño de pantalal) 

flex-grow:1 ( esta propiedad hace que elemento tome en el espacio restante de la pantalla) 

  flex-basis ( los elementos se bajan y abarcan sin dejar huevos, reponsive) 




  */